@import (reference) '../../less/variables.less';

.slide-panel {

	&__block {
		list-style-type: none;
		display: flex;
	}

	&__item {
		color: @color-text;
		&:not(:first-child) {
			color: @color-text-grey-light;
			&::before {
				content: '> ';
				padding: 0 5px;
				font-size: 12px;
				line-height: 18px;
				color: inherit;
			}
		}
	}

	&__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: inherit;
	}
}