@import (reference) '../../less/variables.less';

.slide-panel {

	&__block {
		list-style-type: none;
		display: flex;
	}

	&__item {
		color: @color-text-grey-light;
		&:not(:first-child) {
			color: @color-text;
			&::before {
				content: '> ';
				padding: 0 5px;
				font-size: 12px;
				line-height: 18px;
				color: inherit;
			}
		}
	}

	&__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: inherit;
	}
}

@media (min-width:1200px) {
	.slide-panel {

		&__item {
			&:not(:first-child) {
				&::before {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	
		&__link {
			font-size: 14px;
			line-height: 20px;
		}
	}
}