@import (reference) '../../less/variables.less';

.filter {

	@media (min-width: @desktop) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 4;
	}

	&__title {
		display: flex;
	}

	&__block {
		position: fixed;
		top: 0;
		display: none;

		@media (min-width: @desktop) {
			position: unset;
			display: block;
		}
	}
}