@import '../../less/variables.less';

.filter {
	
	&__title {
		padding: 26px 0;
		border-bottom: 2px solid #C4C4C4;
		&-block {
			display: flex;
			align-items: center;

			svg {
				margin-right: 8px;
			}

			h5 {
				font-weight: 600;
				font-size: 14px;
				line-height: 20px;
				color: @color-text-grey-dark;
			}
		}
	}
}

@media (min-width: 1200px) {
	.filter {
		&__title {
			display: none;
		}
	}
}