* {
	box-sizing:border-box
}

.container {
	width: 90%;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}	

	.wrapper-grid {
		display: grid;
		grid-template-columns: 239px 888px;
		grid-column-gap: 75px;
	}
}