
@import (reference) './variables.less';
@import './fonts.less';
@import './general.less';
@import '../common.blocks/header/header.less';
@import '../common.blocks/menu/menu.less';
@import '../common.blocks/filter/filter.less';
@import '../common.blocks/name-page/name-page.less';
html {
  color: @color-text;

  font: 16px 'Montserrat', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}