@color-text: #1A1A1A;
@color-text-grey-dark: #333333;
@color-text-green: #359C31;
@color-text-grey: #A0A0A0;
@color-text-grey-light: #C4C4C4;
@color-text-light: #FFFFFF;

@bgc-dark: #1A1A1A;
@bgc-green: #359C31;
@bgc-grey-dark: #C4C4C4;
@bgc-grey: #E5E5E5;
@bgc-light: #FFFFFF;

@border-grey: #A0A0A0;
@border-light: #C4C4C4;