.header {
	min-height: 50px;
	padding-top: 2px;
	padding-bottom: 8px;

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 124px;

		&:last-child {
			min-width: 60px;
		}
	}

	&__burger {
		
		&-row {
			display: block;
			width: 18px;
			height: 2px;
			margin-bottom: 3px;
			background-color: #000000;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__logo {
		width: 80px;
		height: 40px;

		img {
			width: 100%;
		}
	}



	&__search {
		
		&-icon {
			padding-top: 3px;
		}
		&-input {
			display: none;
		}
	}

	&__contact {

		&-icon {
			display: block;
			padding-top: 3px;
		}

		&-tel {
		display: none;
		}

		&-hours {
			display: none;
		}
	}

}
@media (min-width: 768px) {
	
}