@import (reference) '../../less/variables.less';

.menu {
	margin-top: 50px;

	&__logo {
		width: 80px;
		height: 40px;
	}
}

@media (min-width:1200px) {
	.menu {
		margin-top: 92px;
	
		&__logo {
			width: 80px;
			height: 40px;
		}
	}
}