@import (reference) '../../less/variables.less';

.menu {
	position: absolute;
	top: 0;
	right: -100%;
	width: 100%;
	padding: 5px 0 40px;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all .6s;
	overflow: scroll;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;

		&-logo {
			width: 80px;
			height: 40px;
		}

		&-close {
			width: 24px;
			height: 24px;
		}
	}

	&__body {
		padding: 24px 0;
		border-bottom: 2px solid rgba(255, 255, 255, 0.15);

		&-list {
			display: block;
		}

		&-item {
			display: inline-block;
			width: 100%;
			height: 44px;
		}

		&-link {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: @color-text-light;

			svg {
				display: none;
			}
		}

		&-drop {
			display: none;

			&-active {
				display: block;
				padding-bottom: 8px;
			}

			&-item {
				height: 44px;
			}

			&-link {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: @color-text-light;

				svg {
					margin-right: 12px;
				}
			}
		}
	}

	&__footer {
		padding-top: 24px;

		&-tel {
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
			color: @color-text-green;
		}

		&-hours {
			margin-bottom: 16px;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: @color-text-grey-light;
		}

		&-mail {
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: @color-text-light;
		}

		&-social {
			margin-top: 16px;
			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background-color: @bgc-green;
			}
		}
	}

	&__active {
		right: 0;
		visibility: visible;
		opacity: 1;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: @bgc-dark;
	}
}

@media (min-width:1200px) {
	.menu {
		position: relative;
		visibility: visible;
		opacity: 1;
		z-index: 1;
		overflow: hidden;
	
		&__header {
			display: none;
		}
	
		&__body {
			padding: 0;
			border-bottom: none;
	
			&-list {
				display: block;
				list-style-type: none;
				display: flex;
				// flex-grow: 0;
			}
	
			&-item {
				display: block;
				// width: 100%;
				height: 44px;
			}
	
			&-link {
				color: @color-text-light;
				font-weight: 400;
				background-color: @bgc-green;
	
				svg {
					display: block;
					margin-left: 29.5%;
					margin-right: 3.4%;
				}

				&:first-child {
					width: 264px;
				}
			}
	
			&-drop {
				list-style-type: none;
				position: absolute;
				left: 0;
				bottom: 0;
				&-active {
					display: none;
					padding-bottom: 8px;
				}
	
				&-item {
					height: 44px;
				}
	
				&-link {
					display: flex;
					align-items: center;
					width: 100%;
					height: 100%;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: @color-text-light;

					background-color: @bgc-dark;
	
					svg {
						margin-right: 12px;
					}
				}
			}
		}
	
		&__footer {
			display: none;
			visibility: hidden;
		}
	
		&__overlay {
			display: none;
			position: relative;
			visibility: hidden;
		}
	}
}